#project-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: darkblue;
}

#section-container {
    width: 840px;
    background-color: #d21eb4;
    border: 5px solid skyblue;
    color: white;
    margin: 50px auto;
    padding: 50px;
    display: flex;
}

#input-div {
    width: 50%;
    padding: 20px;
}

#output-div {
    width: 50%;
    /* background-color: darkgray; */
    padding: 20px;
    margin: auto;
    text-align: center;
}

.input-div-element {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.label-class {
    font-size: 30px;
}

.input-class {
    width: 80%;
    font-size: 30px;
    padding: 10px 20px;
    border: none;
    color: orangered
}

::placeholder {
    color: gray;
    opacity: 0.6;
}

#calculate-btn {
    background-color: #ffcf00;
    padding: 10px 40px;
    font-size: 30px;
    font-weight: 700;
    color: #01b700;
    border: none;
    border-radius: 10px;
}

#tip-calculation {
    margin-bottom: 60px;
}

.calculation-heading {
    font-size: 24px;
    margin: 0 0;
    padding: 0 0;
}

.calculation-money {
    font-size: 48px;
    margin: 0 0;
    padding: 0 0;
}

.per-person {
    font-size: 16px;
    margin: 0 0;
    padding: 0 0;
}